.users {
}
.user {
  border: solid 1px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_column {
  border: solid 1px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  width: 40px;
  margin: 5px;
}
.img img {
  width: 100%;
}
.follow_btn {
  width: 70px;
  margin: 5px;
}
.right_column {
  border: solid 1px;
  width: 85%;
}
.pages {
  display: flex;
  flex-wrap: wrap;
}
.pages span {
  font-size: 20px;
  padding: 0 5px;
  font-weight: 400;
}
.pages span:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 22px;
}
.pages .selected {
  color: blue;
  font-weight: 800;
}
