.header {
  border: solid 1px; /* -- */
  grid-area: h;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
}
.logo img {
  width: 100%;
}
.title {
  margin: 0 30px;
  font-weight: bold;
  font-size: 24px;
}

.title a {
  text-decoration: none;
  color: mediumturquoise;
}
.logIn {
  width: 750px;
  text-align: right;
  font-weight: 600;
}
.logIn a,
.logIn a:visited {
  text-decoration: none;
  color: blue;
}
