.profile_info {
  border: solid 1px;
}

.user_info {
  margin: 10px 0;
}

.row {
  display: flex;
}
.ava {
  width: 150px;

  margin: 0 30px 0 0;
}
.ava img {
  width: 100%;
}
.info {
}
.name {
  font-weight: bold;
  font-size: 20px;
}
.job {
  display: flex;
  align-items: bottom;
  flex-wrap: wrap;
}
.job img {
  width: 18px;
  margin: 0 0 0 10px;
}
.job div {
  width: 100%;
}
.contacts {
  display: flex;
}
.contacts span {
  padding: 0 5px 0 0;
}
