.container {
  max-width: 1080px;
  margin: 0 auto;
}
.wrapper {
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 2fr 8fr;
  grid-gap: 10px;

  grid-template-areas:
    "h h"
    "n c"
    "f f";
}

.content {
  border: solid 1px; /* -- */
  grid-area: c;
}
