.dialogs {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.dialogsItems {
  border: solid 1px;
  margin: 5px;
}

.dialog a,
.dialog a:hover,
.dialog a:active,
.dialog a:visited {
  color: mediumturquoise;
  text-decoration: none;
}

.dialog a:hover {
  color: mediumblue;
  font-weight: bold;
}
.dialog a.active {
  color: blue;
  font-weight: bold;
}
.messages {
  border: solid 1px;
  margin: 5px;
}
.message {
}
.form {
}
.newMessage {
  display: block;
  border: solid 1px;
  width: 250px;
  height: 50px;
  margin: 10px 0;
}
.btn {
  width: 100px;
  background: lightseagreen;
}
.btn:disabled {
  background: lightgray;
}
